/* base */
@import './base/layout.css';
@import './base/reset.css';
@import './base/variables.css';

/* 3rd party */


/* components */
@import './components/buttom.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';

/* custom style below this comment*/

.bg-melyna {
    background-color: var(--melyna);
}

.bg-raudona {
    background-color: var(--raudona);
}

/* HERO SECTION */

.container.hero {
    padding-bottom: 25px;
    background-image: url(../img/fonas.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
}
.hero > .row-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.logo {
    height: 40px;
    width: 200px;
    object-fit: contain;
    object-position: center;

}
.main-title {
    text-transform: uppercase;
    font-size: 70px;
    color: black;

}
.man-description {
    font-size: 20px;
    color: gray;
    
}
.clock {

}
.mouse {

}

/* FOOTER SECTION */

footer.container {
    padding-top: 0;
}